:root,
input {
    font-family: 'Jost', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
    font-size: 100%;
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

p, label {
    height: fit-content;
}

button,
input,
.div-assets
{
    font-size: 1rem;
    padding: .4rem;
    outline: none;
    border-radius: .2rem;
    border: none;
}

body * {
    animation: all 400ms;
}

input {
    width: 100%;
    border: 1px solid #ccc;
}

button {
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
}

.div-asset-input button {
    height: 100%;
}

.div-assets {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
}

.asset-container-div p {
    pointer-events: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh + 50rem);
}

main {
    margin-top: 2rem;
    margin-inline: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 auto;
}

#div-tag-input-container,
#div-asset-input-container {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: .2rem;
    display: flex;
    gap: 0.5rem;
    background-color: #f7f7f7;
    align-items: center;
}

.div-asset-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

.div-asset-input label {
    width: 5rem;
    text-align: right;
    font-size: .9em;
}

.div-asset-input input {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 12rem;
}

.asset-tags-div.hidden {
    display: none;
}

.assets-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.asset-container-div {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn-remove-asset {
    margin-left: auto;
}

.assets-container .asset-tags-div span {
    display: inline-block;
    font-size: .7em;
    background-color: orangered;
    color: #fff;
    border-radius: 5px;
    padding: .1rem .3rem;
}

.assets-container .asset-tags-div span:not(:last-of-type) {
    margin-right: .3rem;
}